<article class="post">
    <header>
        <h2 class="post__title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa hic explicabo tempore nulla. Doloremque temporibus nulla reprehenderit modi cum reiciendis, laboriosam voluptates rem, placeat vitae necessitatibus, laudantium laborum velit quibusdam.</h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam laboriosam quaerat necessitatibus, cumque deserunt vero. Ea voluptatibus nobis magnam quaerat quos ad autem similique cumque vel unde deserunt natus iusto, ipsum quas, quis fugiat! In sint neque quod dolor impedit explicabo quasi officia. Vel quos suscipit quaerat repudiandae placeat autem, aspernatur, minima tempore nihil veritatis velit odio. Eius nemo recusandae asperiores maiores praesentium, hic, facilis deleniti tenetur ea molestias, velit molestiae ratione fugiat? Corporis similique ut molestiae! Libero explicabo, mollitia cupiditate perferendis modi, alias, incidunt eos deserunt in ipsa totam blanditiis eum? Et blanditiis repudiandae delectus provident enim excepturi dignissimos.
    </div>
</article>